p{
  font-family: 'Garamond', 'Georgia', 'Times New Roman', 'serif';
  font-size: 14px;
}

h1{
  font-family: 'Garamond', 'Georgia', 'Times New Roman', 'serif';
  font-size: 24px;
  font-weight: bold;
}

h3{
  font-family: 'Garamond', 'Georgia', 'Times New Roman', 'serif';
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

li{
  font-family: 'Garamond', 'Georgia', 'Times New Roman', 'serif';
  font-size: 12px;
}
  
.resume{
  margin: 20px;
}


.info{
  border-top: 6px solid #000000;
  border-bottom: 2px solid #000000;
}


.followblock{
  border-bottom: 2px solid #000000;
}


#jobdesc{
  font-style: italic;
}
