p{
  font-family: 'Garamond', 'Georgia', 'Times New Roman', 'serif';
  font-size: 16px;
}

h1{
  font-family: 'Garamond', 'Georgia', 'Times New Roman', 'serif';
  font-size: 24px;
  font-weight: bold;
}

h3{
  font-family: 'Garamond', 'Georgia', 'Times New Roman', 'serif';
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

li{
  font-family: 'Garamond', 'Georgia', 'Times New Roman', 'serif';
  font-size: 18px;
}
  
.resume{
  margin: 20px;
}
